<!-- Content start -->
<div class="content">

	<!-- Intro -->
	<section class="intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title">
						<h1>О нас</h1>
					</div>
					<p class="text-center">
						<big>
							Добро пожаловать в Taxi Grabber – ваш надежный партнер в мире комфортного и безопасного передвижения! Мы – профессиональная команда, созданная с любовью к сервису и стремлением сделать ваше путешествие максимально удобным.
						</big>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!--Intro end -->
	<!-- Highlights start -->
	<section class="highlights">
		<div class="container">
			<div class="row flex-row">
				<div class="col-sm-6 flex-column">
					<img src="~/images/slider1.jpg" height="600" width="400" alt="" />
				</div>
				<div class="col-sm-6 flex-column">
					<hgroup>
						<h3>Наша миссия</h3>
					</hgroup>
					<p>
						
						Мы стремимся обеспечить клиентам Taxi Grabber быстрый, надежный и беззаботный транспорт, превосходящий все ожидания. Наша цель – сделать каждую поездку удовлетворительным и беззаветно безопасным опытом.
					</p>
				</div>
			</div>
			<div class="row flex-row">
				<div class="col-sm-6 flex-column">
					<hgroup>
						<h3>Почему выбирают нас</h3>
					</hgroup>
					<p>
						Мы гордимся своими высокими стандартами безопасности. Все наши водители – профессионалы с многолетним опытом, а наши автомобили регулярно проходят технические проверки.
						В Taxi Grabber мы ценим ваше время и комфорт. Наши автомобили всегда чисты, ухожены и оборудованы всем необходимым для приятной поездки.
						Мы предлагаем справедливую и прозрачную систему тарифов. У нас нет скрытых платежей – вы всегда знаете, сколько стоит ваша поездка.
					</p>
				</div>
				<div class="col-sm-6 flex-column">
					<img src="~/images/slider2.jpg" height="600" width="400" alt="" />
				</div>
			</div>
		</div>
	</section>
	<!--Highlights end -->
	<!-- Promo start -->
	<section class="promo">
		<img src="~/images/slider3.jpg" alt="" />
		<div class="tint from-right"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-7">
					<hgroup>
						<h3>Только лучшие машины</h3>
					</hgroup>
					<p>Мы ценим каждого клиента и стремимся предоставить выдающийся сервис. Ваши потребности всегда на первом месте, и мы готовы пойти на любые меры, чтобы сделать вашу поездку приятной.</p>
					<a asp-action="Driver" class="btn btn-secondary">О водителях</a>
				</div>
			</div>
		</div>
	</section>
	<!--Promo end -->

</div>
<!-- Content end -->