<!-- Content start -->
<div class="content">

	<!-- Main start -->
	<section class="intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title">
						<h1>Откройте дверь в мир роскоши с Taxi Grabber Premium!</h1>
					</div>
					<p class="text-center"><big>Добро пожаловать на страницу премиальных машин, где элегантность встречает удобство. Taxi Grabber Premium – это эксклюзивное предложение для тех, кто ценит стиль и первоклассный сервис в каждой поездке.</big></p>
					<hr class="blank">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<ul class="cars inline three-columns">
						<li>
							<img src="~/images/car1.jpg" alt="" />
							<h6>2012 Ferrari 458</h6>
							<p>6.5 L Литров, 770 Л.С., 1 Пассажир</p>
						</li>
						<li>
							<img src="~/images/car2.jpg" alt="" />
							<h6>2013 Dodge Charger</h6>
							<p>3.5 L Литров, 330 Л.С., 3 Пассажира</p>
						</li>
						<li>
							<img src="~/images/car3.jpg" alt="" />
							<h6>1965 Cobra</h6>
							<p>4.7 L Литров, 290 Л.С., 1 Пассажир</p>
						</li>
						<li>
							<img src="~/images/car4.jpg" alt="" />
							<h6>2015 Dodge Challenger</h6>
							<p>6.3 L Литров, 460 Л.С., 4 Пассажира</p>
						</li>
						<li>
							<img src="~/images/car5.jpg" alt="" />
							<h6>2014 Porsche 911</h6>
							<p>3.5 L Литров, 330 Л.С., 1 Пассажир</p>
						</li>
						<li>
							<img src="~/images/car6.jpg" alt="" />
							<h6>2015 Range Rover Evoque</h6>
							<p>2.9 L Литров, 240 Л.С., 4 Пассажира</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--Main end -->
</div>
<!-- Content end -->