<!-- Content start -->
<div class="content">

	<!-- Main start -->
	<section class="intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title">
						<h1>Водители</h1>
					</div>
					<p class="text-center"><big>Мы гордимся тем, что объединяем лучших водителей, стремящихся к выдающемуся сервису и безупречной безопасности. Водители Taxi Grabber - это не просто исполнители, это профессионалы, создающие приятный опыт для наших клиентов.</big></p>
					<hr class="blank">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<ul class="drivers inline four-columns">
						<li>
							<img src="~/images/driver01.jpg" alt="" />
							<h6>Михайлов Артемий</h6>
							<p>Audi A4</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver02.jpg" alt="" />
							<h6>Гаврилов Иван</h6>
							<p>Peugeot 508</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver03.jpg" alt="" />
							<h6>Голованов Марк</h6>
							<p>Mercedes-Benz S</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver04.jpg" alt="" />
							<h6>Леонов Дмитрий</h6>
							<p>BMW 320i</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver05.jpg" alt="" />
							<h6>Тарасов Михаил</h6>
							<p>BMW 530d</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver06.jpg" alt="" />
							<h6>Романов Святослав</h6>
							<p>Opel Insignia</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver07.jpg" alt="" />
							<h6>Тарасов Глеб</h6>
							<p>Ford Mondeo</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver08.jpg" alt="" />
							<h6>Винокуров Владимир</h6>
							<p>Nissan Qashqai</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver09.jpg" alt="" />
							<h6>Федоров Владимир</h6>
							<p>Ford Focus C-Max</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver10.jpg" alt="" />
							<h6>Ильин Богдан</h6>
							<p>Volkswagen Passat</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver11.jpg" alt="" />
							<h6>Фролов Иван</h6>
							<p>Renault Laguna</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
						<li>
							<img src="~/images/driver12.jpg" alt="" />
							<h6>Алешин Владислав</h6>
							<p>Škoda Octavia</p>
							<p>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star"></i>
								<i class="ion-android-star-half"></i>
								<i class="ion-android-star-outline"></i>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--Main end -->
	<!-- Promo start -->
	<section class="promo">
		<img src="~/images/slider2.jpg" alt="" />
		<div class="tint from-left"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<hgroup>
						<h3>Наши премиальные машины. Taxi Grabber Premium!</h3>
					</hgroup>
					<p>Taxi Grabber Premium – это эксклюзивное предложение для тех, кто ценит стиль и первоклассный сервис в каждой поездке.</p>
					<a asp-action="Cars" class="btn btn-secondary">Премиум</a>
				</div>
			</div>
		</div>
	</section>
	<!--Promo end -->

</div>
<!-- Content end -->