


<!-- Content start -->
<div class="content">

	<!-- Slider start -->
	<div class="slider owl-carousel">
		<div class="slide">
			<img src="~/images/slider1.jpg" alt="" class="slider-image" />
			<div class="slider-subtitle">Работаем 24/7</div>
			<div class="slider-title">8 (915) - 246 - 14 - 35</div>
			<div class="slider-button"><a asp-action="About" class="btn btn-primary">О нас</a></div>
		</div>
		<div class="slide">
			<img src="~/images/slider2.jpg" alt="" class="slider-image" />
			<div class="slider-subtitle">Только водители</div>
			<div class="slider-title">Высокой квалификации</div>
			<div class="slider-button"><a href="drivers.html" class="btn btn-primary">Наши водители</a></div>
		</div>
	</div>
	<!-- Slider end -->
	<!-- Booking end -->
	<!-- Price start -->
	<section class="alt prices">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title">
						<h2>Цены на такси</h2>
					</div>
					<div class="info show-mobile">
						Drag the table left and right.
					</div>
					<div class="responsive-table">
						<table class="price-table">
							<thead>
								<tr>
									<th></th>
									<th><i class="icon-car-econo"></i>Эконом</th>
									<th><i class="icon-car-classic"></i>Эконом Плюс</th>
									<th><i class="icon-car-wagon"></i>Фургон</th>
									<th><i class="icon-car-minivan"></i>Минивэн</th>
									<th><i class="icon-car-suv"></i>Внедорожник</th>
									<th><i class="icon-car-limo"></i>Лимузин</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>За поездку</th>
									<td>500 руб.</td>
									<td>600 руб.</td>
									<td>700 руб.</td>
									<td>800 руб.</td>
									<td>1000 руб.</td>
									<td>1500 руб.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Price end -->
	<!-- Why Choose Us start -->
	<section class="why">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title">
						<h2>Почему вы должны выбрать именно нас?</h2>
						<h6>Лучшее обслуживание в городе!</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="service">
						<i class="icon-shield-2"></i>
						<p>
							<strong>БЕЗОПАСНОСТЬ</strong><br>
							Наш большой автопарк состоит исключительно из иномарок до 3 лет. На корпоративной технической базе производится специальная диагностика машин.
							Закажите дешевое такси по Москве или в аэропорт в режиме онлайн и будьте уверены - приедет чистый и соответствующий ожиданиям автомобиль. По требованию предоставляется детское кресло, wi-fi и зарядка для телефона.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service">
						<i class="icon-thumbs-up-2"></i>
						<p>
							<strong>КАЧЕСТВЕННЫЙ СЕРВИС.</strong><br>
							Такси в аэропорт (Шереметьево, Внуково, Домодедово), к метро и вокзалам. Для экономных жителей и гостей столицы предлагаем тариф «Недорогое такси» и услугу «трезвый водитель» - везем в комфорте и безопасности. Наша гордость - более 100 автомобилей VIP и бизнес класса .
							Если машина нужна на время рекомендуем заказать услугу «аренда авто на час, на сутки». К Вашим услугам машины эконом, комфорт, бизнес класса, а также микроавтобусы и минивэны для пассажирских перевозок.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service">
						<i class="icon-taxi-1"></i>
						<p>
							<strong>ВЫГОДНЫЕ ТАРИФЫ</strong><br>
							Цена такси оптимизирована с целью обеспечить максимальное качество сервиса при низкой стоимости.
							Если наши конкуренты предлагают цены дешевле это говорит об отсутствии автопарка фирмы, оформленный на «официальном сайте компании» заказ отправляется на биржу дешевого такси, где его готов принять любой таксист Москвы.
						</p>
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<a asp-action="About" class="btn btn-primary">О нас</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Why Choose Us end -->
	<!-- Testimonials start -->
	<section class="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title">
						<h2>Отзывы</h2>
					</div>
					<div class="owl-carousel">
						<div>
							<img src="~/images/testimonial1.jpg" alt="" class="person" />
							<blockquote>
								Такси-грабер – это именно то, чего так не хватало нашему бизнесу. Отличная работа, обязательно буду заказывать еще! Не могу передать вам, насколько я доволен такси-грабером. Если вы не уверены, всегда выбирайте такси.
								<footer>Егорова Мария Святославовна</footer>
							</blockquote>
						</div>
						<div>
							<img src="~/images/testimonial2.jpg" alt="" class="person" />
							<blockquote>
								Taxi Grabber — самый ценный бизнес-ресурс, который мы когда-либо приобретали. Я не мог просить большего, чем это. После использования Taxi Grabber мой бизнес резко пошел в гору!
								<footer>Козлов Никита Макарович</footer>
							</blockquote>
						</div>
						<div>
							<img src="~/images/testimonial3.jpg" alt="" class="person" />
							<blockquote>
								Продолжайте в том же духе. Я хотел бы лично поблагодарить вас за ваш выдающийся продукт. Я настоятельно рекомендую Taxi Grabber всем, кто заинтересован в ведении успешного бизнеса! Не могу передать вам, насколько я доволен Taxi Grabber.
								<footer>Титова Мария Тимофеевна</footer>
							</blockquote>
						</div>
						<div>
							<img src="~/images/testimonial4.jpg" alt="" class="person" />
							<blockquote>
								Taxi Grabber — следующая убийственная тема. Это просто невероятно! Чувак, эта штука становится все лучше и лучше по мере того, как я узнаю о ней больше. Taxi Grabber – это именно то, чего так не хватало нашему бизнесу.
								<footer>Медведев Константин Евгеньевич</footer>
							</blockquote>
						</div>
						<div>
							<img src="~/images/testimonial5.jpg" alt="" class="person" />
							<blockquote>
								Определенно стоит вложений. Мне бы хотелось подумать об этом в первую очередь. Taxi Grabber произвел на меня впечатление на нескольких уровнях.
								<footer>Карасева Антонина Романовна</footer>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonials end -->

</div>
<!-- Content end -->